# Configuración del Servidor
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://...

# Seguridad
JWT_SECRET=tu_secreto_jwt
JWT_EXPIRES_IN=1d

# Integración Vita Wallet (Render / Env)
VITA_API_URL=https://api.vitawallet.io
VITA_LOGIN=tu_login_publico
VITA_TRANS_KEY=tu_trans_key
VITA_SECRET=tu_secreto_hmac
VITA_BUSINESS_WALLET_UUID=97f3c111-e1b6-46a0-a3e1-c56f94ffbca1
VITA_NOTIFY_URL=https://tu-backend.onrender.com/api/ipn/vita
